{% autoescape None %}
{% extends "basic.html" %}

{% block app_js %}
<script src="/static/js/edit.js" type="text/javascript"></script>

{% end %}

    {% block content %}
       
          <h1 class="page-header">Poses in {{ data['libs'][data['library']]['lib_name'] }} </h1>
          
          <!-- Library menu -->
          <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">Filter</button>
          <a href="/lib/{{ data['library']}}/NEWPOSE" class="btn btn-primary ">New pose</a>

          <!-- Library filter -->
          <div class="collapse" id="collapseFilter">
            <div class="well">
              Tags : {% for t in data['tags'] %}
                      <a href="/tags/{{t[0]}}">{{t[1]}} ({{t[2]}})</a> 
                    {% end %}
            </div>
          </div>
          

          <!-- Library poses -->
          <div class="row placeholders">
            {% if data['poses'] %}
              {% for p in data['poses'] %}
              

              <div class="col-xs-6 col-sm-3 placeholder">
                <a href="/pose/{{ p }}">
                  <h4>{{data['poses'][p]['title']}} </h4>

                <img src="/static/content/{{data['poses'][p]['pose_id']}}.png" class="img-responsive" alt="Missing thumbnail">
                </a></br>
                <a class="btn btn-success btn-sm applyPose"  pose_id="{{ data['poses'][p]['pose_id'] }}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Apply</a> 
                <a class="btn btn-info btn-sm"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Select</a> 
                </br>
                {% for t in data['poses'][p]['tags'] %}
                  <a href="/tag/{{t[1]}}">{{ t[0] }}</a>
                {% end %}
              </div>
              {% end %}
            {% else %}
              <p>
                This library does not contains any pose yet. You can <a href="edit{{ data['library']}}/NEW">create one</a> or visit another library on the right menu.
              </p>
           {% end %}

            
          </div>


    {% end %}