<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <link rel="stylesheet" href="/static/css/colibri_poses.css" />
  <link rel="stylesheet" href="/static/css/jquery-ui-1.11.4.min.css" />

  <script src="/static/js/jquery-1.11.3.min.js"></script>
  <script src="/static/js/jquery-ui-1.11.4.min.js"></script>
  <script src="/static/js/colibri_poses.js"></script>
  <script src="/static/js/connection.js"></script>
</head>

<body>

    <div id="header">
        <div id="header1" class="headerdiv">
            <span id="connection_msg">No blender found</span>
            
        </div>
        <div id="header2" class="headerdiv">Colibri</div>
        <div id="header3" class="headerdiv"><div id="slider"></div></div>
        
    </div>

    <div id="nav">
        
        <h3>Libraries</h3>
        <!--
            {% for l in data['libs']['_ORDER'] %}
                <li class="{% if l == data['library'] %}active{% end %}"><a href="/lib/{{l}}/">{{data['libs'][l]['path']}}</a></li>
            {% end %}
          -->
            <table id="libraries">
              {% for l in data['libs']['_ORDER'] %}
                <tr>
                  <td class="library_link {% if l == data['library'] %}active{% end %}" target="/lib/{{l}}/"> {{data['libs'][l]['path']}}  </td>
                </tr>
              {% end %}
            </table>
    </div>
    <div id="properties">
        <input id="properties_title" value="SELECT A POSE" disabled/>
        <div class="property_thumbnail">
            <img id="properties_thumbnail_img" class="thumbnail_img" src="/static/content/missingFrame.jpg" />
        </div>
        
        <button id="properties_apply" disabled>Apply</button>
        <button id="properties_apply_reverse" disabled>Apply mirrored</button><br/>
        <button id="properties_select_only" disabled>Select affected bones</button><br/>
        
        <button id="properties_update_pose" disabled>Update pose</button>
        <button id="properties_update_thumbnail" disabled>Update thumbnail</button><br/>
        <input type="hidden" id="properties_pose_id" value="Title" disabled/>


        <div id="properties_more">

          <table>
          <tr><td></td><td></td></tr>
          <tr><td>pose id</td><td><span id="properties_pose_id_display"></span></td></tr>
          <tr><td>Used</td><td><span id="properties_count"></span> times</td></tr>
          
          <tr><td>Creation date :</td><td><span id="properties_creation_date"></span></td></tr>
          <tr><td>Update date :</td><td><span id="properties_update_date"></span></td></tr>
          <tr><td>Source file :</td><td><span id="properties_source_file"></span></td></tr>
           
           </table>
           
           
          
        </div>
        <button id="properties_more_button">+</button>
    </div>


    <div id="container">

      {% if data['poses'] %}
        {% for p in data['poses'] %}
            <div class="thumbnail {% if data['poses'][p]['jsonB64'] == '' %}emptyPose{% end %}" 
                  style="background-image: url(/static/content/{{data['poses'][p]['thumbnail_path']}})"
                  title="{{data['poses'][p]['title']}}"
                  pose_id="{{ data['poses'][p]['pose_id'] }}"
                  id="pose_{{ data['poses'][p]['pose_id'] }}"
                  thumbnail="/static/content/{{data['poses'][p]['thumbnail_path']}}"
                  jsonPoseB64="{{ data['poses'][p]['jsonB64'] }}"
                  jsonPose="{{ data['poses'][p]['json'] }}"
                  lib_id="{{ data['poses'][p]['lib_id'] }}"
                  count="{{ data['poses'][p]['count'] }}"
                  creation_date="{{ data['poses'][p]['creation_date-h'] }}"
                  update_date="{{ data['poses'][p]['update_date-h'] }}"
                  source_file="{{ data['poses'][p]['source_file'] }}"

                  >&zwnj;</div>
        {% end %}
      {% end %}
       
       <div class="new_pose" style="background-image: url(/static/content/newPose.png)">&zwnj;</div>

    </div>
    <div id="mousetooltip">Tooltip<div>
    
</body>