body{
    margin:0px;
    background-color: #3b3b3b;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow:hidden;
}

#header {
    background-color:#3b3b3b;
    color:white;
    text-align:center;
    padding:5px;
    position:fixed;
    z-index: 1000;
    width: 100%;
    border-style: outset;
    border-width: 0px 0px 2px 0px;

}

.headerdiv{
    display: inline;
}
#header1{
    width: 250px;
    text-align: left;
    float: left;
}

#header3{
    width: 200px;

    float: right;
}

#nav {
    background-color:#3b3b3b;
    height:100%;
    width:150px;
    float:left;
    overflow: auto;
    padding:10px;
    padding-top:20px;
    margin:0px;
    margin-top:30px;
    border-style: outset;
    border-width: 0px 2px 0px 0px;


}
#nav .hidden{
    display:none;
}

#container {
    
    overflow:auto;
    height:100%;
    padding: 10px ;
    padding-top:40px;
}

#properties {
    background-color:#3b3b3b;
    color:white;
    border-width: 0px 0px 0px 2px;
    border-style: outset;
    text-align:center;
    float:right;
    width:300px;
    margin-right:0px;
    height:100%;
    margin-top:30px;
    padding-top:20px;
  
}

.property_thumbnail{
    width: 90%;
    height:300px;

    margin: auto;
    border-radius: 10px;

}

.thumbnail, .new_pose{
    width:90px;
    height:90px;
    margin:5px;
    display:inline-block;
    background-size: 100%;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0);
}

.new_pose{
    border-color: rgba(255,255,0,1);
}

.thumbnail:hover, .new_pose:hover { 

    
    border-color: rgba(255,0,0,1);
}



.thumbnail_img{
    width: 100%;
    height: 100%;
}

#mousetooltip{
    position:fixed;
    left:400px;
    top:400px;
    background-color: rgba(256,256,256,0.5);
    padding: 4px;
    border-radius: 4px;
}

.alert{
    color:#f00;
}

