body{
    margin:0px;
    background-color: #3b3b3b;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow:hidden;
        color:#999999;
}

button {
    background-color: #4E4E4E; 
    padding: 2px 4px;
    font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #888 #444 #444 #888;
    border-radius: 5px;
    color:#999999;
    margin:2px;
   
}
button:hover{
    background-color: #5A5A5A;
}

button:active{
    background-color: #B67E3E;
    color:#000;
}
button:disabled, :active{
    background-color: #454545; 
    color:#777;
}

input{
    background-color: #7A8287;
    border-width: 0px 0px 2px 0px;
    border-radius: 5px;
    padding:3px;
    padding-left:5px;
}



#header {
    background-color:#3b3b3b;

    text-align:center;
    padding:5px;
    position:fixed;
    z-index: 1000;
    width: 100%;
    border-style: outset;
    border-color:#333;
    border-width: 0px 0px 2px 0px;

}

.headerdiv{
    display: inline;
}
#header1{
    max-width: 250px;
    width:30%;
    text-align: left;
    white-space: nowrap;
    float: left;
}

@media (max-width:485px) { 
    #header2{
        display:none;
        }
    }

#header3{
    max-width: 200px;
    width:30%;

    float: right;
}

#nav {
    background-color:#3b3b3b;
    height:100%;
    width:150px;
    float:left;
    overflow: auto;
    padding:10px;
    padding-top:20px;
    margin:0px;
    border-color:#333;
    border-style: outset;
    border-width: 0px 2px 0px 0px;


}
#nav .hidden{
    display:none;
}

#libraries{
    width: 100%;
    border-radius: 5px;

    background-color: #4E4E4E;
}
#libraries td:hover{
    background-color: #5A5A5A;
    cursor: pointer;
}

#libraries td.active{
    background-color: #B67E3E;
    color:#000;
}

#container {
    
    overflow:auto;
    height:100%;
    padding: 10px ;
    padding-top:40px;
}


.thumbnail, .new_pose{
    width:90px;
    height:90px;
    margin:5px;
    display:inline-block;
    background-size: 100%;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0);
}
.thumbnail.selectedPose{
    border-color: rgba(0,255,0,.7);
}

.emptyPose{
    border-color: rgba(255,0,0,1);
}

.new_pose{
    border-color: rgba(255,255,0,1);
}

.thumbnail:hover, .new_pose:hover { 

    
    border-color: rgba(255,144,0,1);
}



.thumbnail_img{
    width: 100%;
    height: 100%;
}

#mousetooltip{
    position:fixed;
    left:400px;
    top:400px;
    background-color: rgba(256,256,256,0.5);
    padding: 4px;
    border-radius: 4px;
}

.alert{
    color:#f00;
}


#properties {
    background-color:#3b3b3b;
    color:white;
    border-width: 0px 0px 0px 2px;
    border-style: inset;
    text-align:center;
    float:right;
    width:300px;
    margin-right:0px;
    height:100%;
    border-color:#333;
    margin-top:30px;
    padding-top:20px;
  
}

.property_thumbnail{
    width: 90%;
    height:300px;

    margin: auto;
    border-radius: 10px;

}

#properties_title{
    margin-bottom:10px;
    width: 90%;
}